


.footer {
  font-family: 'Century_Gothic_normal', Arial, Helvetica, sans-serif;
  background: #000000;
  height: 420px;
  color: #8898AC;
  margin: 25px 0px 0px 0px;
  width: 100%;
  font-weight: 350;
  text-align: center;

}

.footer-info {
  height: 280px;
  border-bottom: 2px solid #C7E0F4;
  font-size: 12px;
  max-width: 70%;
  margin: 0px auto;
  padding: 30px 0px 0px 0px;
  text-align: center;
}



@media all and (min-width: 900px) {
  .footer{
    height: 250px;
  }
}


@media all and (min-width: 880px) {
  .footer-info{
    height: 120px;
  }
}

.footer-contacts{
  padding: 0 auto;
  margin: 0 auto 50px auto;
}


.footer-documents{
  padding: 0 auto;
}


@media all and (min-width: 880px) {
  .footer-contacts{
    float: left;
    padding: 0 10px;
    text-align: left;
  }
}


@media all and (min-width: 900px) {
  .footer-documents{
    float: right;
    padding: 0 10px;
  }
}

@media all and (min-width: 880px) {
  .footer-contacts{
    float: left;
    padding: 0 60px;
  }
}


@media all and (min-width: 880px) {
  .footer-documents{
    float: right;
    padding: 0 60px;
  }
}


.Copyright {
  margin: 50px auto 20px auto;
  font-size: 10px;
}


@media all and (max-width: 600px) {
  .Copyright {
    font-size: 9px;
  }

}


.menu-bar, .menu-bar h3 {
  font-family: Arial, Helvetica, sans-serif;
  height: 150px;
  background: #EAF4F4;
  border-radius: 20px;
  margin: 0 5px;
  padding: auto;
  font-size: 15px;
}



.menu-bar div{
  float: left;
  padding: 15px 20px;
  text-align: center;
  margin: 0;
}


.menu-bar h3{
  margin: 0;
  height: auto;
  font-weight:bold;
}


@media all and (min-width: 400px) {
  .menu-bar{
    height: 100px;
    max-width: 800px;
    margin: 0px auto;
    padding: 0 auto;
  }
}


@media all and (min-width: 735px) {
  .menu-bar{
    max-width: 800px;
    margin: 0px auto;
    height: 50px;
  }
}


.body{
  margin: 20px 0px 0px 0px;
  background-color:#F4F4F4;
  color: #1C4E69;
  text-align: center;
  padding: 0px;
  font-family: sans-serif;
  font-size: 13px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

a:hover{
    color: #EF8F10;
    font-size: 13px;
  }

#mail, #phone, #password{
  width: 240px;
  height: 10px;
}



 #login h1{
  font-size: 15px;
  font-family: sans-serif;
  font-weight: normal;
}

.Userinfo{
  border: 1px solid #C7E0F4;
  border-radius: 10px;
  background-color: #FAFAFA;
  font-family: sans-serif;
  font-size: 12px;
  padding: 20px 5px;
  margin: 0 5px;
}

@media ALL and (min-width: 700px) {
  .Userinfo{
    max-width: 700px;
    margin: 0 auto;
  }
}


#comments{
  background-color: white;
  border: 1px solid #C7E0F4;
  height: 70px;
  width: 250px;
}



@media all and (min-width: 425px) {
  #comments{
    height: 90px;
    width: 400px;
}


#UP {
  color: #043248;
  margin: auto;
  font-family: "Century_Gothic_normal", sans-serif;
  line-height: normal;
  font-weight: bold;
}

.btn-primary{
  position: relative;
  width: 80px;
}



@media all and (min-width: 600px) {
  .btn-primary{
    width: 500px;
}
